form {
	margin-top: 0.7rem;
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}
input,
textarea {
	width: 100%;
	padding: 1.5rem;
	border-radius: 0.5rem;
	background: transparent;
	border: 2px solid var(--color-primary-variant);
	resize: none;
	color: var(--color-white);
}

/* Media queries MD */

@media screen and (max-width: 1024px) {
	.container.contact__container {
		grid-template-columns: 1fr;
		gap: 2rem;
	}
}

/* Media queries SM */

@media screen and (max-width: 600px) {
	.container.contact__container {
		width: var(--container-width-sm);
		grid-template-columns: 1fr;
		gap: 2rem;
	}
}

section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	max-width: 500px;
}
